<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/layout.html :: header"></th:block>
    <meta charset="UTF-8">
    <title>کاربران</title>
</head>
<body>
<div th:replace="fragments/layout :: navigation"></div>
<div th:replace="fragments/layout :: menu"></div>

<div class="tab-main  tab-margin-top tab-margin-right col-lg-10 offset-lg-2 col-md-10 offset-md-2  col-sm-12 offset-sm-0 col-12 offset-0">


        <div class="card card2">
            <div class="card-header card2-header">
                <img class="icons-18" th:src="@{/icons/search-solid.png}" >
                <label>جست و جو :</label>
            </div>
            <div class="card-body card2-body">

                    <div class="row">
                        <div class="form-group col-md-8 col-sm-8 col-xs-12">
                            <label for="input-command" class="add-font">بخشی از نام vendor :</label>
                            <input dir="ltr"  type="text" id="input-command" class="form-control add-font" placeholder="vendor name" >
                        </div>
                        <div class="form-group float-left col-md-4 col-sm-4 col-12">
                            <label id="btn-search" class="btn btn-submit form-control add-font" onclick="getData()">
                                جست و جو
                            </label>

                        </div>
                    </div>


                <div class="col-md-12 col-12 col-sm-12 table-div">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">نام وندور</th>
                            <th scope="col">تعداد product</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">نام کاربری</th>

                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


</div>


<script>
function getData() {

        swal({
            title: "منتظر دریافت پاسخ از سرور ...",
            text: "لطفاً منتظر بمانید!",
            buttons: false,
            className: "swal-temp"
        });


        $.ajax({
            url: '[[@{/alarm/Find-vendors}]]',
            type: "GET",
            contentType : "application/json",
            data: {
                "Vendor_name": $("#input-command").val()
            },

            success: function (respone) {
                var body = $('#tbody');
                var output = "";
                for (var i = 0; i < respone.length; i++) {
                    output += "<tr dir='ltr'>";
                    output += "<td dir='ltr'>" + i + "</td>";
                    output += "<td dir='ltr'>" + respone[i]["vendor"] + "</td>";
                    output += "<td dir='ltr'>" + respone[i]["cont"] + "</td>";

                    output += "</tr>";
                }
                body.html(output);
                 swal.close();


            },
            error: function (respone) {
                // swal({
                //     title: "خطا",
                //     text: "خطا در دریافت اطلاعات",
                //     icon: error,
                //     button: "تایید",
                //     className: "swal-temp"
                // });
            }
        });
    }


</script>
<script th:replace="fragments/layout :: menuScript"></script>

</body>
</html>