<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/layout.html :: header"></th:block>
    <meta charset="UTF-8">
    <title>گزارش اسکن </title>

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>
<div th:replace="fragments/layout :: navigation"></div>
<div th:replace="fragments/layout :: menu"></div>

<div class="tab-main  tab-margin-top tab-margin-right col-lg-10 offset-lg-2 col-md-10 offset-md-2  col-sm-12 offset-sm-0 col-12 offset-0">
    <button class="tablink" onclick="openPage('scan-report', this, 'search')" id="defaultOpen">لیست اسکن ها</button>
    <button class="tablink" onclick="openPage('search', this, 'add')">لیست ip ها</button>
        <div id="scan-report" class="tabcontent">
                <div class="card-header card2-header">
                    <img class="icons-18" th:src="@{/icons/plus-solid.png}">
                    <label>لیست اسکن</label>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="card-body card2-body">
                <div class="row">
                    <div class="form-group float-left col-md-4 col-sm-4 col-12">
                        <label id="btn-scan" class="btn btn-submit form-control add-font" onclick="getSearchData()">
                            اسکن
                        </label>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-sm-12 table-div" >
                    <table class="table table-hover" style="font-family: 'Times New Roman'; font-weight: 600" >
                        <thead>
                        <tr>
                            <th  scope="col">ردیف</th>
                            <th  scope="col">نام اسکن</th>
                            <th  scope="col">ip ها</th>
                            <th  scope="col">نمایش</th>

                        </tr>
                        </thead>
                        <tbody id="scan-list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>

<script th:src="@{/mylocal/persian-date.min.js}"></script>
<script th:src="@{/mylocal/persian-datepicker.min.js}"></script>

<script>

    function getSearchData() {

        // swal({
        //     title: "منتظر دریافت پاسخ از سرور ...",
        //     text: "لطفاً منتظر بمانید!",
        //     imageUrl: "localhost\images\ajax-loader-gif-6.gif",
        //     buttons: false,
        //     className: "swal-temp"
        // });


        var csrfToken = $("meta[name='_csrf']").attr("content");
        var csrfHeader = $("meta[name='_csrf_header']").attr("content");
        $.ajax({
            url: '[[@{/ordinary/discoveryreport/scan-list}]]',
            type: "post",
            data: {
                "id": "",
                "_csrf": csrfToken
            },
            async: true,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (respone) {
                var body = $('#scan-list');
                var output = "";
                for (var i = 0; i < respone.length; i++) {

                    output += "<tr dir='ltr'>";
                    output += "<td dir='ltr'>" + i+1 + "</td>";
                    output += "<td dir='ltr'>" + respone[i]["scanName"] + "</td>";
                    output += "<td dir='ltr'>" + respone[i]["countip"] + "</td>";

                    output += "</tr>";
                }
                body.html(output);
                // swal.close();


            },
            error: function (respone) {
                // swal({
                //     title: "خطا",
                //     text: "خطا در دریافت اطلاعات",
                //     icon: error,
                //     button: "تایید",
                //     className: "swal-temp"
                // });
            }
        });
    }

   // $('#mngmt-nmap').next().removeClass('collapse');


</script>
<script th:replace="fragments/layout :: menuScript"></script>

</body>
</html>